@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face  {
    font-family: 'Boomster';
    src: url('fonts/boomster_graffiti/BOOMSTER.otf') format('truetype');
}

@font-face {
    font-family: 'RockSalt';
    src: url('fonts/RockSalt/LICENSERockSalt.ttf') format('truetype');
}

:root {
    --cor1: rgb(49, 48, 48);/*Menu e footer*/
}

header {
    background-color: var(--cor1);
    padding: 3px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
/* entender como funciona junto de scrollY
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--cor1);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
*/
}

header > img {
    height: 60px;
}

header > nav {
    display: flex;
    align-self: center;
    flex-flow: row wrap;
    justify-content: center;

    font-family: 'Boomster';
    font-size: 1.5em;
}

header > nav > a {
    text-decoration: none;
    color: white;
    padding: 6px;
    margin: 2px;
    background-color: black;
    border-radius: 8px;
    box-shadow: 2px 2px 0px -1px rgba(128, 128, 128, 0.5);

}

header > nav > a:hover {
    background-color: white;
    color: black;
    transition:  background-color 0.3s;
    transform: scale(1.15);
}

header > div {
    display: flex;
    align-items: center;
    align-self: center;

    font-family: 'Boomster';
    font-size: 1.5em;
}

header > div > a {
    text-decoration: none;
    color: white;
    padding: 5px;
    margin: 4px;
    background-color: black;
    border-radius: 8px;
    box-shadow: 2px 2px 0px -1px rgba(128, 128, 128, 0.5);
    cursor: pointer;
}

header > div > a:hover {
    background-color: white;
    color: black;
    transition:  background-color 0.3s;
    transform: scale(1.15);
}


#entre-cadastro > a {
    display: none;
}

header > div > form > input {
    border-radius: 8px;
    font-size: 0.75em;
    width: 135px;
    height: 37px;
    margin: 4px;
    border: 2px solid black;
}

header > div > form > input:hover {
    transform: scale(1.15); 
}

.media-query-1980-nav {
    display: none;
}

.media-query-1980-div {
    display: none;
}

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;    
    background-image: url('imagens/hip-hop-album-covers-vs8liw8aqx3uxfg4\ -\ Copy.jpg');
    background-color: white; /**/
    background-repeat: repeat;
}

main > section {
    width: 1250px;

    display: flex;
    flex-flow: wrap;
    justify-content: center;
    justify-self: center;
}

main > section > div {
    height: 420px;
    border: 1px solid black;
    flex: 0 0 230px;
    margin: 10px 10px 20px 10px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

main > section > div:hover {
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
    transform: scale(1.08);
}

main > section > div > a > img {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
} 

main > section > div > h1 { 
    font-family: 'Boomster';
    text-align: center;
    margin-bottom: 10px;
    font-size: 2em; /*No "Westside Conection" foi setado 1.5em, tentar resolver depois com javascript*/
} 

main > section > div > div > a {
    font-family: 'Boomster';
    display: block;
    text-align: center;
    font-size: 1.5em;
    color: black;
    text-decoration: none;
} 

main > section > div > div > a:hover {
    text-shadow: 1px 1px 1px rgba(49, 48, 48, 0.5);
    text-decoration: underline;
    transform: scale(1.15);
} 

footer {
    background-color: var(--cor1);
    color: white;
}

/*Começo modal login e cadastro*/

.modal-Entre, .modal-Cadastro {
    display: none;
    position: fixed; /*Faz o modal ficar preso na janela do navegador, ignorando os elementos da página.*/
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.modal-content-Entre, .modal-content-Cadastro {
    position: relative;
    background-color: white;
    border-radius: 20px;
    width: 500px;
    max-width: 80vw;
    height: 320px;
    max-height: 320px;
    padding: 20px;
    margin: 20px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.modal-content-Entre > form, .modal-content-Cadastro > form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.modal-content-Entre > form > h1, .modal-content-Cadastro > form > h1  {
    font-family: 'Boomster';
    text-align: center;
}

.modal-content-Entre > form > p > label, .modal-content-Cadastro > form > p > label {
    font-family: 'RockSalt';
}

.modal-content-Entre > form > p > input, .modal-content-Cadastro > form > p > input  {
    width: 100%;
    border-radius: 10px;
    height: 30px;
    margin-top: 10px;
    border: 1px solid var(--cor1);
    padding-left: 10px;
}

.modal-content-Entre > form > p > input:hover, .modal-content-Cadastro > form > p > input:hover {
    border: 2px solid  rgba(49, 48, 48, 0.8);
    transform: scale(1.03);

} 

.modal-content-Entre > form > input, .modal-content-Cadastro > form > input {
    height: 40px;
    margin-top: 10px;
    width: 100%;
    border-radius: 13px;
    color: white;
    background-color: var(--cor1);
    border: 1px solid var(--cor1);
}

.modal-content-Entre > form > input:hover, .modal-content-Cadastro > form > input:hover {
    background-color: rgba(49, 48, 48, 0.8);
    transform: scale(1.03);
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
    color: black;
}

/*Fim modal login*/


@media screen and (max-width: 1080px) {
    header > img {
        order: 1;
    }

    .media-query-1980-nav {
        display: flex;
        order: 2;
    }

    .no-query-nav {
        display: none;
    }

    .media-query-1980-nav-outros {
        display: none;
    }
    .no-query-div {
        display: none;
    }
    .media-query-1980-div {
        display: flex;
        order: 3;
    }
    .media-query-1980-div-form {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    header {
        flex-flow: row wrap;
    }

    header > img {
        order: 1;
    }

    .media-query-1980-nav {
        display: flex;
        order: 3;
    }

    .no-query-nav {
        display: none;
    }

    .media-query-1980-nav-outros {
        display: none;
    }
    .no-query-div {
        display: none;
    }
    .media-query-1980-div {
        display: flex;
        order: 2;
    }
    .media-query-1980-div-form {
        display: none;
    }
}

