@charset "UTF-8";

@font-face  {
    font-family: 'Boomster';
    src: url('../fonts/boomster_graffiti/BOOMSTER.otf') format('opentype');
}   

@font-face {
    font-family: 'RockSalt';
    src: url('../fonts/RockSalt/LICENSERockSalt.ttf') format('truetype');
}
