@charset "UTF-8";


.media-query-1980-nav {
    display: none;
}

.media-query-1980-div {
    display: none;
}

.media-query-600-nav  {
    display: none;
    align-self: center;
    flex-flow: column wrap;
    justify-content: center;
    position: absolute;
    top: 40px;
    left: -50px;
    width: max-content;
    background-color: black;
    border-radius: 8px;
    z-index: 10;

    font-family: 'Boomster';
    font-size: 1.5em;
}

.media-query-600-nav > a {
    text-decoration: none;
    color: white;
    padding: 6px;
    margin: 2px;
    box-shadow: 2px 2px 0px -1px rgba(128, 128, 128, 0.5);
    text-align: center;
}

.media-query-600-nav > a:hover {
    background-color: white;
    color: black;
    transition:  background-color 0.3s;
    transform: scale(1.15);
}


@media screen and (max-width: 1080px) {
    header > img {
        order: 1;

    }
    
    .media-query-1980-nav {
        display: flex;
        order: 2;
    }

    .no-query-nav {
        display: none;
    }

    .media-query-1980-nav-ver_todos {
        display: none;
    }
    .no-query-div {
        display: none;
    }
    .media-query-1980-div {
        display: flex;
        order: 3;
    }
    .media-query-1980-div-form {
        display: none; 
    }

}

@media screen and (max-width: 600px) {
    header {
        flex-flow: row wrap;
    }

    header > img {
        order: 1;
    }

    .media-query-1980-nav {
        display: none;
    }

    .media-query-600-nav {
        display: none;
    }

    .no-query-nav {
        display: none;
    }

    .media-query-1980-nav-ver-todos {
        display: none;
    }
    .no-query-div {
        display: none;
    }
    .media-query-1980-div {
        display: flex;
        order: 3;

    }
    .media-query-1980-div-form {
        display: none;
    }

    #menu-hamburguer {
        order: 2;
        display: flex;

    }
    
    main > section > div {
        height: auto;
        flex: 0 0 150px;
    }
}
