@charset "UTF-8";

.modal_pesquisa {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: none;
}

#pesquisa_media_query {
    border-radius: 8px;
    font-size: 0.75em;
    width: 140px;
    height: 37px;
    margin: 4px;
    border: 2px solid black;
    padding-left: 5px;
    display: none;

    position: absolute;
    top: 40px;
    left: -105px;
    z-index: 1000;
    outline: none; /*remove contorno azul do onfocus*/
}

#simbolo-de-pesquisa {
    position: relative;
    background-color: black;
    color: white;
    border-radius: 8px;
    padding: 4px;
    margin: 4px;
    box-shadow: 2px 2px 0px -1px rgba(128, 128, 128, 0.5);
    cursor: pointer;
}

#simbolo-de-pesquisa:hover {
    background-color: white;
    color: black;
    transition:  background-color 0.3s;
    transform: scale(1.15);
}